html, body {
    margin: 0;
}

.adminPanel {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 33% auto;
}

.contentPanel, .controlPanel {
    padding: 10px;
    min-height: 100vh;
}

.controlPanel {
    border-right: 1px solid black;
    background-color: #e8eff0
}

.contentPanel{
    background-color: #eed7cd;
    display: flex;
    flex-direction: column;
}

.contentPanel * {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.contentPanel input, textarea {
    margin-bottom: 20px;
}

.contentPanel .check {
    margin-bottom: 20px;
    width: 15px;

}

h1, h4 {
    margin: 0;
    padding: 0;
}

.form * {
    display: block;
    margin-bottom: 20px;
}

textarea {
    width: 80%;
    max-width: 512px;
    height: 128px;
}