html, body {
    height: 100vw;
    margin: 0;
}

.main {
    background-color: #ffcaca54;
    height: 100%;
    text-align: center;
}

.left, .right {
    z-index: -1;
    position: fixed;
    top: 0;
    width: 300px;
    background-color: rgb(185, 227, 185);
}

.left.opened, .right.opened {
    z-index: 1;
}

.right {
    right: 0;
}

.main.left-opened {
    transform: translateX(300px);
    transition-duration: 0.3s;
}

.main.right-opened {
    transform: translateX(-300px);
    transition-duration: 0.3s;
}

h1 {
    margin: 0;
    padding: 20px;
}