.comic-container {
    height: 90%;
    margin: 0 auto;
    overflow-y: scroll;
}

.comic {
    margin: 0 auto;
    background-color: #f4a380;
    border-radius: 12px;
    width: 80%;
}

.comic_name {
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    padding: 4px 8px;
    margin: 0 0 0 8px;
}

.comic_description {
    font-size: 0.8em;
    padding-left: 8px;
    margin: 8px 0 0 8px;
    text-align: center;
}

.comic_img {
    width: 90%;
    height: auto;
    margin: 8px auto !important;
    padding-top: 8px;
    padding: 12px;
}